body {
    background-image: url("../images/newbarktown.png");
    justify-content: center;
    align-items: center;
}

.title-img {
    align-items: center;
    justify-content: center;
    display: flex;
}

.pokedex-container {
    
    /* background-image: url("../images/newbarktown.png"); */
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 80vh;
}

.pokedex-image {
        background-image: url("../images/pokedex-background.png");
        /* border-radius: 10px; */
        width: 50px;
        max-width: 100%;
}

.ui-modal {
    $('.ui.modal')
     .modal('show')
    ;
}